.threeButtons{
    padding-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 15px;
}

.twoButtons{ 
    margin-top: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 15px;
    padding-bottom: 40px;
}

.bmenu, .bmenuB{
    background-color: #fff;
    color: black;
    text-align: center;
}
.bmenu{
    width: 300px;
}
.bmenuB{
    width: 450px;
}

/* responsive */
@media screen and (min-width:375px) and (max-width:420px) {
    .threeButtons, .twoButtons{
        grid-template-columns: 1fr;
    } 
}

@media screen and (min-width:421px) and (max-width:800px) {
    .threeButtons, .twoButtons{
        grid-template-columns: 1fr;
    } 
}